body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #1b1b32;
  color: #f5f6f7;
  font-family: Tahoma;
  font-size: 16px;
}

h1, .intro-text {
  margin: 1em auto;
  text-align: center;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input, textarea {
  background-color: #0a0a23;
  border: 1px solid #0a0a23;
  color: #ffffff;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
  min-width: 300px;
}

input[type="file"] {
  padding: 1px 2px;
}

.form-button {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  color: white;
  background-color: #3b3b4f;
  border-color: white;
  min-width: 300px;
}

#select-state {
  background-color: #3b3b4f;
  color: white;
  border: none;
  display: block;
  width: 100%;
}

#current-acc-container {
  border: 2px solid #fff;
  max-width: 35%;
  text-align: left;
  margin: 0 auto;
  padding: 0 10px 20px 10px;
}

#current-bank-acc {
  text-align: center;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #fff;
}

#account-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hidden-numbers {
  display: inline-flex;
  align-items: center;
}

.toggle-show {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  color: #3b3b4f;
  padding: 0 10px;
  margin: 0;
}

.toggle-show:hover {
  color: #686877;
}

/* New styles for the address details */
.address-container {
  text-align: left;
}

.address-details {
  margin: 5px 0;
}

/* Ensure that p elements inside address-container are left-aligned */
.address-container p {
  text-align: left;
  margin: 5px 0;
}

#form-prompt {
  text-align: center;
}